@import "variables";
@import "mixins";
@import "node_modules/bootstrap/scss/bootstrap";
@import 'node_modules/font-awesome/scss/font-awesome.scss';


/* BTN */
.btn:focus,
.input:focus {
  outline: none;
  box-shadow: none;
}
.btn {
  cursor: pointer;
}

/* BADGES */
.badge-primary {
	@include transition();
}
.badge-primary:hover {
	background-color: darken($primary,10);
}

/* SEARCH FORM */
.search-form .form-control {
  border-radius: .25rem 0 0 .25rem;
  border-color: $white;
  font-size: 13px;
}
.search-form .btn {
  border-radius: 0 .25rem .25rem 0;
  cursor: pointer;
  font-size: 13px;
}
.search-form {
  font-size: 13px;
}

/* CARDS */
.cards {
	padding: $spacer*3 0;
}
.card-subtitle {
	display: block;
	margin-top: -$spacer/2;
	margin-bottom: $spacer;
	color: $gray-500;
}
.card-deck {
	margin-top: $spacer*2;

	&:first-child {
		margin-top: 0
	}
}

/* POSTS */
.post {
	padding: $spacer*3 0;
}

/* TOPNAV */
.topnav .navbar-wrp {
	position: relative;
  background-color: $black;
	z-index: 1;
}
.topnav .navbar-wrp .navbar-brand {
	padding: 0;
}
.topnav .navbar-wrp .navbar-brand span {
  background-color: rgba(0,0,0,.5);
  border-radius: .25rem;
}
.topnav .navbar-wrp .navbar-brand,
.topnav .navbar-wrp .navbar-text {
  color: #eee;
}
.topnav .navbar-wrp .navbar-nav .nav-link {
  color: #eee;
  text-transform: uppercase;
  font-size: 13px;
}
.topnav .navbar-wrp .nav-item.active .nav-link,
.topnav .navbar-wrp .nav-item:hover .nav-link {
  color: $primary;
}
.topnav .navbar-wrp .navbar-nav .dropdown-menu .nav-link {
  color: #333;
  text-transform: none;
}
.topnav .navbar-wrp .dropdown-menu .nav-link.active,
.topnav .navbar-wrp .dropdown-menu .nav-link:hover {
  color: $primary;
  background-color: #f5f5f5;
}
.topnav .navbar-wrp .navbar-logo {
	max-height: 50px;
}
.topnav .navbar-wrp-utilities {
  display: flex;
  font-size: 13px;
}
.topnav .navbar-wrp-utilities .btn {
  font-size: 13px;
}
.topnav .navbar-wrp-utilities .btn-navbar-account {
	margin-left: $spacer/2;
}

/* SIDENAV */
.sidnav {
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	height: 100%;
	padding: 48px 0 0;
	background-color: darken($primary, 25);
}
.sidnav ul, .sidnav li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.sidnav a {
	display: block;
	padding: 10px 15px;
	color: $white;
	text-decoration: none;
	border-bottom: 1px solid darken($primary, 35);
	font-size: 90%;
}
.sidnav a:hover {
	background-color: darken($primary, 20);
}
.sidnav a.active {
	background-color: darken($primary, 5);
}

/* MAIN */
.main {
	padding-top: $spacer;
	padding-right: $spacer;
	padding-left: 220px;
}
